.carousel {
  display: flex;
  margin: 1rem;
  justify-content: center;
}

@media (max-width:700px) {
  .carouselDiv{
    flex-direction: column;
  }
  
}

.carouselDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
}


.carousel-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 16px;
    opacity: 0.8;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.carousel-item:hover {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 1;
  }
}

.testimonial-image {
  width: 200px; 
  height: 200px;
  border-radius: 50%;
  margin-bottom: 16px;
}

.testimonial-text {
    height: 10rem;
    text-align: center;
    font-size: 24px;
    line-height: 22px;
}

.testimonial-author {
  margin-bottom: 2rem;
  font-size: 18px;
  font-style: italic;
}
