/* FeaturesSection.module.css */

.features {
  background: #FAEEFE;
  color: white;
  padding: 80px 0;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 1s ease-in-out forwards;
}

.features {
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 1s ease-in-out forwards;
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  display: flex;
  gap: 1rem;
  max-width: 960px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.sectionTitle {
  font-size: 36px;
  font-weight: 700;
  color: #893389;
  margin-bottom: 40px;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: rgb(255, 255, 255) solid 1px;
  width: 13rem;
  height: 20rem;
  background: #FBFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}

.featureImage {
  width: 100px;
  height: 100px;
}

.featureTitle {
  margin: 7px 0px 10px;
  width: 200px;
  height: 13px;
  left: 85px;
  top: 427px;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #893389;
}

.featureDescription {
  width: 196px;
  height: 151px;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}

.line {
  display: flex;
  border: 1px solid #A39C9C;
}

.contactUs {
  width: 72px;
  height: 12px;


  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 100%;
  /* identical to box height, or 12px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #A39C9C;
}

.contactUsUp {
  display: flex;
  align-items: center;
  justify-content: space-around;
}