.features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #faeefe;
  padding: 1rem;
}

.features {
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 1s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#webDevContainer,
#seoContainer {
  display: flex;
  background-color: white;
  color: #000000;
  max-width: 1000px;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  margin: 5rem;
  justify-content: center;
}
.webDevContent {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.seoContent {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5rem;
}

.imgFeature {
  display: flex;
}
.featuresImg {
  width: 20rem;
  height: 20rem;
}
.featureDesc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
}

.h-1 {
  color: #893389;
  font-family: "Kumbh Sans-ExtraBold", Helvetica;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.5rem;
}

.h-2 {
  font-family: "Kumbh Sans-Medium", Helvetica;
  line-height: 17px;
}

.featureBtn {
  display: flex;
  background-color: #b896b8;
  border-radius: 1rem;
  height: 2.5rem;
  width: 10rem;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
}

.featureBtnText {
  color: #fafffe;
  font-family: "Kumbh Sans-ExtraBold", Helvetica;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 800;
  text-align: center;
  width: 8rem;
}

@media (max-width: 750px) {
  .webDevContent,
  .seoContent {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .featureContainer {
    width: 18rem;
  }
  .featuresImg {
    display: flex;
    width: 15rem;
    height: 15rem;
  }
  .featureDesc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 15rem;
  }
  .h-1 {
    font-size: 1.5rem;
    line-height: 85%;
  }
}

@media (max-width: 300px) {
  .featureContainer {
    width: 12rem;
  }
  .featuresImg {
    display: flex;
    width: 10rem;
    height: 10rem;
  }
  .featureDesc {
    width: 10rem;
  }
  .h-1 {
    font-size: 1rem;
    line-height: 85%;
  }
}
