.footer {
  padding: 1rem;
  background: linear-gradient(265.28deg, #7B3893 5.95%, rgba(79, 41, 70, 0.978721) 45.4%, rgba(0, 0, 0, 0.95) 98.65%, rgba(0, 0, 0, 0.95) 98.65%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  gap: 2rem;
  color: white;
  align-items: center;
  justify-content: space-between;

}

.logo {
  width: 60px;
  height: 54.87px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 0 10px;
  }
}

.submitEmail{
  padding: 5px;
  background-color: transparent;
  border-bottom: 1px solid white;
  border-left: hidden;
  border-top: hidden;
  border-right: hidden;
}
.submitEmail::placeholder{
  color: white;
}

.btnFooter{
  visibility: hidden;
  cursor: pointer;
}